* {
  margin: 0;
  padding: 0;
}

/* NAVBAR */
.navbar {
  background-color: #2c3e50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}

.navbar h2 {
  color: white;
}

.logo img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.btn-signin {
  background-color: #27ae60;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
}

.btn-signin:hover {
  padding: 10px;
  background-color: #114c88;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.btn-login {
  background-color: white;
  color: #2c3e50;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
}

.btn-login:hover {
  padding: 10px;
  background-color: #114c88;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.btn-split-expense {
  background-color: #27ae60;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
}

.btn-split-expense:hover {
  padding: 10px;
  background-color: #114c88;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

/* HERO SLIDER */
.hero {
  height: 80vh;
  background-size: cover;
  background-position: center;
  transition: background-image 1s ease-in-out;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.hero-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
}

/* ================= FEATURES SECTION ================= */
.features-section {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #eef2f3, #dfe9f3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
}

.features-title {
  font-size: 36px;
  margin-bottom: 50px;
  color: #2c3e50;
}

.features-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
}

.feature-card {
  background: white;
  width: 300px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.feature-card h3 {
  margin-bottom: 15px;
  font-size: 22px;
  color: #27ae60;
}

.feature-card p {
  font-size: 15px;
  color: #080707;
  line-height: 1.6;
}

.feature-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}


/* FOOTER */
.footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 25px;
}